<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haochibao">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MineHomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NoLoginMineActivity"/><!--没有登陆是我的页面-->
        <activity android:name=".activity.RegisterActivity"/><!--注册页面-->
        <activity android:name=".activity.CommentActivity"/>
        <activity android:name=".activity.MineCollectionActivity"/><!--我的收藏-->
        <activity android:name=".MainActivity"/><!--个人主页-->
        <activity android:name=".activity.MineInformationActivity"/><!--我的资料-->
        <activity android:name=".activity.Settingactivity"/><!--我的设置-->
        <activity android:name=".activity.UseragreementActivity"/><!--用户协议-->
        <activity android:name=".activity.AboutAppActivity"/><!--关于好吃宝-->
        <activity android:name=".activity.UserAdviseActvity"/><!--用户反馈-->
    </application>
</manifest>